*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --main-color : #8e44ad;
    --neon-color : #ff3b94;
}
.bg-dark{
    background: black !important;
}
.text-white{
    color: #fff !important;
}
.bg-white{
    background: #fff;
}
.shadow-dark{
    box-shadow: 0px 0px 2px black;
}
.shadow-white{
    box-shadow: 0px 0px 2px #fff !important;
}
.text-dark{
    color: black;
}
.hover-day:hover{
    color: #fff;
    background: black;
}
.hover-night:hover{
    color: black !important;
    background: #fff !important;
}
header,nav ul,.notification,.container,.box-a,.section-2,.about ul,.social-media,.breadcrumb ul,.section-4,.preview-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
header,.section-4{
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo a{
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--main-color);
}
.search-box,header{
    position: relative;
}
.search-box input,.suggest-box input{
    outline: none;
    width: 200px;
    padding: 5px 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px 0px;
}
.search-box button,.suggest-box button{
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    border: none;
    margin-left: -4px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
nav ul{
    margin: 10px 0px;
}
nav ul li{
    position: relative;
}
nav ul li .badge{
    position: absolute;
    z-index: 1;
    padding: 2px;
    left: 30px;
    top: -6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
}
.btn{
    padding: 10px;
    margin: 0px 5px;
    border-radius: 50%;
    width: 40px;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 21px;
}
.sidebar{
    display: flex;
    position: fixed;
    left: -101vw;
    top: 0;
    z-index: 500;
    transition: all 0.3s;
}
.sidebar.active{
    left: 0;
}
.side-menu{
    width: 250px;
    min-height: 100vh;
    position: relative;
}
#white-space{
    width: calc(100vw - 250px);
    min-height: 100vh;
}
.white-space-day{
    background: rgba(0,0,0,0.3);
}
.white-space-night{
    background: rgba(255,255,255,0.3);
}
.side-menu .btn{
    position: absolute;
    right: 5px;
    top: 5px;
}
.profile-box{
    width: 150px;
    height: 150px;
    margin: 60px auto 20px;
    position: relative;
}
.profile-box .fa-user{
    font-size: 5em;
    text-align: center;
    display: block;
    line-height: 150px;
}
.profile-box-img{
    width: 100%;
    height: 100%;
}
.profile-box-img::before,.profile-box-img::after{
    content: "";
    width: 100%;
    position: absolute;
    background: var(--main-color);
    height: 100%;
    border-radius: 50%;
    transform: scale(0.6);
}
.profile-box-img::before{
    left: -25%;
    top: -25%;
}
.profile-box-img::after{
    left: 25%;
    top: 25%;
}
.profile-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 5;
}
.side-menu h3{
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.side-menu ul li a{
    display: block;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
.active-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0px 5px;
}
.notification{
    padding: 10px;
}
.notification h2{
    text-transform: capitalize;
    color: var(--neon-color);
}
.section-2{
    min-height: 60vh;
}
.responsive{
    max-width: 1140px;
    margin: 0px auto;
}
.heading h1{
    text-transform: uppercase;
    margin: 0px 10px 20px;
    font-weight: 600;
    padding-top: 20px;
}
.heading h1 span,.box-a h1 span{
    color: var(--main-color);
}
.box-a{
    position: relative;
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--neon-color);
    border-radius: 10px;
}
.box-a h1{
    font-size: 2.2em;
    text-transform: capitalize;
    margin: 10px 0px;
}
.box-a i{
    font-size: 3em;
}
.card{
    width: 250px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--neon-color);
    margin: 20px 10px;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 20px;
    display: block;
}
.nav-box{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.nav-box a{
    transition: all 0.1s;
    margin: 0px 5px;
}
.box-info{
    padding: 0 10px 10px;
}
.box-info h2 a{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 5px;
    display: block;
}
.badge-box{
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 7px;
    color: var(--main-color);
}
.badge,.big-badge,.load-more a{
    background: var(--neon-color);
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
}
.big-badge{
    background: var(--main-color);
    text-transform: uppercase;
    margin: 5px 0px;
}
.big-badge.disabled{
    background: #2c3e50;
}
.big-badge span{
    font-size: 2em;
}
.cat-box h3,.load-more a{
    margin-bottom: 10px;
    text-transform: capitalize;
    transform: scale(0.8);
    transition: all 0.2s;
}
.cat-box:hover h3{
    transform: scale(1);
}
.load-more{
    text-align: center;
}
.load-more a{
    transform: scale(1);
    background: var(--main-color);
    box-shadow: 2px 2px 3px black;
    transition: all 0.2s;
    font-size: 20px;
}
.load-more a:hover{
    box-shadow: -2px -2px 3px black;
}
.suggest-box{
    margin: 0px 10px;
}
.footer-notifaction{
    justify-content: space-evenly;
}
footer .container{
    flex-direction: column;
    padding: 20px 0px;
}
.about ul,.breadcrumb ul,.container-wrap{
    flex-wrap: wrap;
}
.about ul li a,.social-media a{
    margin: 10px;
    text-transform: capitalize;
}
.copyright h2{
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 100;
}
.breadcrumb ul li a{
    padding: 10px;
    display: block;
    text-transform: capitalize;
    position: relative;
}
.breadcrumb ul li:not(:last-child) a::before{
    content: "/";
    position: absolute;
    right: -2px;
    top: 6px;
    color: var(--neon-color);
    font-weight: bold;
    font-size: 25px;
}
.section-4{
    min-height: 70vh;
    padding: 20px 0px;
}
.main-image{
    border: 2px solid var(--neon-color);
    border-radius: 10px;
    padding: 10px;
}
.main-image > img{
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: 0px auto 10px;
    display: block;
}
.preview-boxes img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
}
.img-preview,.product-info{
    margin: 20px;
}
.set-image{
    margin: 5px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    padding: 1px;
}
.product-info{
    max-width: 600px;
}
.product-info table,.cart-box,.confirm-box{
    border: 2px solid var(--neon-color);
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    border-collapse: collapse;
    vertical-align: middle;
}
.product-info table th{
    padding: 10px;
    color: var(--main-color);
    font-size: 25px;
}
.product-info table td,.cart-box th,.cart-box tbody td,.confirm-box tbody td{
    padding: 10px;
    border-bottom: 2px solid var(--main-color);
    font-weight: 600;
}
.product-info .big-badge{
    margin: 5px;
}
.section-5{
    min-height: 90vh;
}
.respo-table{
    margin: 0 20px 20px;
}
.cart-box,.confirm-box{
    border: none;
    background: #fff;
}
.cart-box td,.confirm-box td{
    padding: 10px;
}
.cart-box tbody tr td:last-child{
    min-width: 100px;
}
.qty{
    min-width: 180px;
    margin: 10px 0px;
}
.qty + span{
    display: block;
    margin: 10px 0px;
}
.cart-box img{
    max-width: 200px;
}
.qty .badge{
    cursor: pointer;
    margin: 0px 10px;
    width: 30px;
    height: 30px;
}
.qty input{
    width: 50px;
    height: 30px;
    outline: none;
    text-align: center;
}
.form-box{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80vw;
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 10px;
}
.form-group input{
    outline: none;
    padding: 10px;
    width: 100%;
    font-weight: 600;
}
.form-box input[type="submit"]{
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
    display: block;
    margin: 0px auto 10px;
}
.form-box h2{
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 10px;
}
.form-box a{
    text-transform: capitalize;
}
.form-box .main-image{
    margin-bottom: 20px;
}
.cart-box caption{
    text-transform: uppercase;
    padding: 10px 0px;
}
.respo-table ul li .badge{
    margin-left: 10px;
    cursor: pointer;
}
.respo-table ul li{
    border: 2px solid var(--main-color);
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-6{
    padding: 0 20px;
}
.section-6 ul li h2,.section-6 ul li p{
    text-transform: capitalize;
    padding: 10px 0px;
}
@media (max-width: 770px){
    .main-image > img{
        width: 250px;
    }
    .container{
        flex-direction: column;
    }
    .box-a{
        margin: 10px 0px;
        width: 80%;
    }
    .footer-notifaction{
        flex-wrap: wrap;
    }
    .respo-table{
        overflow-x: auto;
        width: calc(100vw - 40px);
    }
    .confirm-box{
        margin: 0 20px;
    }
}
@media (max-width: 430px){
    .cart-box img{
        max-width: 100px;
    }
    .notification h2{
        font-size: 1.3em;
    }
    .box-a{
        flex-direction: column;
    }
    .box-a h1{
        font-size: 1.5em;
    }
    .copyright h2{
        font-size: 18px;
    }
    .form-box .main-image img{
        width: 100%;
    }
}